Django==6.0.1
djangorestframework
djangorestframework-simplejwt
django-cors-headers
django-phonenumber-field[phonenumberslite]
django-storages
django-extensions
psycopg2-binary
cryptography
redis
python-dotenv